#nombre_caja{
    right: -160%; position: relative;top: 10px;
}
#nombre_h3{
    font-family: Arial, sans-serif;
    font-size: 16PX;color: blue;
}
#imagen{
    width: 100px;
    height: 200px;
    position: relative;
    right: -90%;
    transform: translateX(-50%);
                    
}

